@charset "UTF-8";

body {

    color: #333;
    font-family: 'Lucida Sans Unicode', 'Lucita Grande', sans-serif;
    padding: 10px; /* padding-top, padding-right, padding-bottom, padding-left */
    margin: auto;
    min-width: 320px;
    max-width: 940px;

}


header {
    position:relative;
}


footer {
    color: #dcdcdc;
    margin: 30px 0;
    padding: 20px 0;
    background-color: #333;
    clear: both;
}


footer img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
    background-color: #333;
    padding-left: 10px;
    
    
}

/* Configurações da página "SOBRE" */

p {
     text-align: left;  /* Alinhamento do texto - left, right, justify */
     padding: 0 45px;
     text-indent: 15px;
     line-height: 20px;
   /* line-height: 5px; - tamanho da altura de cada linha 
    letter-spacing: 3px; - tamanho do espaço entre cada letra 
    word-spacing: 5px; - tamanho do espaço entre cada palavra 
    text-indent: 30px; - tamanho da margem da primeira lina do texto */
}
p::first-letter {
    font-weight: bold;
    /*Mudando apenas a 1ª letra do parágrafo*/
}

h1 + p {
    text-indent: 0;
}

h1 {
    background-image: url(sobre-background.jpg);
    padding: 10px;
}
h2 {
    border-bottom: 2px solid #333;
    margin-top: 30px;

}

figure {
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
 }

 #centro-distribuicao {
     margin-left: auto;
     margin-right: auto;
     width: 550px;
 }





.familia-pelho {
    float:right;
    margin: 0 0 10px 10px;
}


.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes ul{
    font-size: 15px;

}

.menu-opcoes a {
    color: #036;
    text-decoration: none;
}



.menu-opcoes a:hover{
    color:#007dc6;
}
.menu-opcoes a:active{
    color: #867dc6;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.busca, 
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    display:block;
    float: left;
    text-decoration: none;
    
}
.busca {
    /* O border-radius pode ser aplicado separadamente, em cada canto do objeto */
    border-top-left-radius: 4px; /* Canto supeior esquerdo*/
    border-bottom-left-radius: 5px; /* Canto inferior esquerdo*/
    border-top-right-radius: 10px; /* Canto supeior direito*/
    border-bottom-right-radius: 15px; /* Canto inferior direito*/
    /* 
    -- Ou da forma de shorthand --
    border-radius: 4px 5px 10px 15px */
}

.busca h2,
.busca form,
.departamentos h2 {
    margin: 10px;

}

.busca input [type="search"] {
    float:left;
    width: 50px;
}

.departamentos {
    margin-top: 10px;
    padding-bottom: 10px;
    clear:left;
}

.departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

 .departamentos a{
    color: #333333;
    text-decoration: none;
}
.departamentos li ul{
    display: none;
}
.departamentos li:hover ul{
    display: block;
}
.departamentos ul ul li {
    background-color: #dcdcdc;
}
.departamentos li li a:before {
    content: '-  ';
}    
.destaque{
    margin-top: 10px;
}

.botao-busca {
    
    background-image:url(busca.png);
    background-repeat: no-repeat;
    border-style: none;
    background-position: center;
    background-color: #dcdcdc;
    text-indent: -999px;    
    height:auto;
    width: 10%;
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
    border-radius: 4px;
    box-shadow: inset 1px 1px 4px #999;
}
.novidades {
    float: left;
    background-color: #f5dcdc;
    background: linear-gradient(#f5dcdc, #bebef4);
}
.mais-vendidos {
    float: right;
    background-color: #dcdcf5;
    background: linear-gradient(#dcdcf5, #f4bebe);
}
.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
    transition: 0.7s;
}


.painel li:hover {
    box-shadow: 0 0 5px #333;
    transition: box-shadow 1s;
    transform: scale(1.2) rotate(-5deg);    
}
.painel li:nth-child(2n):hover {
    box-shadow: 0 0 5px #333;
    transition: box-shadow 1s;
    transform: scale(1.2) rotate(5deg);    
}
.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.8);
    
}
.painel a {
    color:#333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
